<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression">
    <listeners>
        <listener class-name="listeners.MyListener"></listener>
    </listeners>
    <test name="Google Tests">
        <classes>
            <class name="automation_exercise.SignUpTests"></class>
        </classes>
    </test>
</suite>

